body
  .flag {
    width: 300px;
    height: 180px;
    margin: 20px;
    border: 1px solid #000;
  }

  .stripe {
    width: 100%;
    height: 33.33%;
  }

 
  .karelia .red { background-color: #D52B1E; }
  .karelia .blue { background-color: #0039A6; }
  .karelia .green { background-color: #009543; }

  
  .tatarstan .green { background-color: #009639; }
  .tatarstan .white { background-color: #FFFFFF; }
  .tatarstan .red { background-color: #D9001B; }


  .garifuna .yellow { background-color: #FFD100; }
  .garifuna .black { background-color: #000000; }
  .garifuna .white { background-color: #FFFFFF; }